
main {
    font-family: 'roboto';
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2em 2em;
}

/* Página Inicial */
.secao {
    padding: 2em 2em;
    position: relative;
}

.secao__titulo {
    font-size: 48px;
    font-weight: 700;
    padding-right: 2em;
}

.secao__paragrafo {
    font-size: 16px;
    font-weight: 400;
    margin-top: 1em;
    color:#606060;
    padding-right: 2em;
    line-height: 2em;
}

.secao__link{
    margin-top: 2em;
    font-size: 16px; 
    height: 56px;
    width: 160px;
    border-radius: 8px;
    background: #5468E7;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagem-computador {
    width: 170%;
    position: absolute;
    top: 15em;
    left: -10em;
}

/* footer */

.rodape {
    margin-top: 24em;
    font-family: 'Roboto';
}

.rodape-work, .rodape-cta, .rodape-job {
    font-family: 'Roboto';
    margin-top: 4em;
}

.rodape__contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:#5468E7;
    color: #FFFFFF;
    height: 548px;
    padding-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 24px;
    background-image: url('../Img/line\ 2.svg');
    background-repeat: no-repeat;
    background-position: 3em;
}

.rodape__balao {
    width: 73px;
    display: flex;
    justify-content: center;
}

.rodape__saudacao{
    display: flex;
    margin-right: 2em;
    margin-bottom: 2em;
}

.imagem__saudacao {
   margin-right: 1em;
}

.rodape__saudacao-paragrafo{
    
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}

.rodape__saudacao-paragrafo2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    padding-left: 2em;
    padding-right:2em;
}

.rodape__contato-paragrafo {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.5px;
    padding-left: 1em;
    padding-right:1em;
    padding-top: 4em;
}

.rodape__link {
    height: 56px;
    width: 263px;
    border-radius: 0px;
    color: #5468E7;
    background-color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.rodape__redes-sociais {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    margin-bottom: 2em;
    background-image: url('../Img/Path\ Copy.svg');
    background-repeat: no-repeat;
}

.rodape__redes-sociais-paragrafo {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: #ADADAD;
    padding-left: 2em;
    padding-right:2em;
}

/* Página Who We Are */

.sobre-principal {
    background: #232340;
    margin-bottom: -10em;
} 


.sobre__titulos h3{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 1em;
}

.sobre__titulos p{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-right: 2em;
    color: #FFFFFF;
    margin-bottom: 1em;
    
}

.sobre__icones {
    display: flex;
    justify-content: space-between;
}


.sobre__imagem-principal {
    width: 150%;
    margin-left: -8em;
}
.secao__sobre-contato {
    background: #232340;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragrafo-design{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 2em;
}

.paragrafo-design2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8B8B8B;
    margin-bottom: 2em;
}

.secao__sobre-contato-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 160px;
    border-radius: 8px;
    background: #5468E7;
    color: #FFFFFF;
    margin-bottom: 2em;
}

/* Página service*/

.servico-principal {
    background: #EDE5F081;
}

.servico__titulos h3{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #5468E7;
    margin-bottom: 1em;
}

.servico__titulos p{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-right: 2em;
    color: #232340;
    margin-bottom: 1em;
    
}

.secao__cards {
    padding-bottom: 1em;

}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 190px;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 32px;
    background-color:#FFFFFF;
    margin-top: 2em;
    margin-bottom: 2em;
}

.cards h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color:#5468E7;
}

.card-par {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 190px;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 32px;
    background-color:#5468E7
}

.card-par h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color:#FFFFFF;
}

.conquistas {
    font-family: 'Roboto';
    margin-bottom: -25em;
}

.conquistas__titulos {
    padding: 2em 2em;
}

.conquistas__titulos h3{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color:#232340;
    margin-bottom: 1em;
}

.conquistas__titulos p{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #232340;
    margin-bottom: 1em;
    padding-right: 2em;
}

/* pagina work */

.work__titulos h3{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #5468E7;
    margin-bottom: 1em;
}

.paragrafo-principal{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-right: 2em;
    color: #232340;
    margin-bottom: 1em;
}

.paragrafo-descritivo {
    font-size: 16px;
    font-weight: 400;
    margin-top: 1em;
    color:#606060;
    padding-right: 2em;
    line-height: 2em;
}

.imagem__Cards {
    height: 355px;
    border-radius: 17px;
    background-color:#FFBA79;
    display: flex;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
}

.descricao__cards {
    padding: 2em 2em;
    font-family: 'Roboto';
}

.descricao__cards-titulo {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 1em;
}

.descricao__cards-paragrafo {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 1em;
}

.imagem__cards-2{
    background: #E8BEFF;
}

.imagem__cards-3{
    background: #FFCE79;
}

.imagem__cards-4{
    background: #D1ECFD;
}

.bento-contato {
    background: #5468E7; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    border-radius: 8px;
    margin-left: 2em;
    margin-right: 2em;
    text-decoration: none;
    color: #FFFFFF;
}


/* Página cta */

.cta__principal {
    background-image:url('../Img/phone-cta.svg');
    background-repeat: no-repeat;
    height: 145vh;
}

.cta__titulos {
    padding:2em 2em;
}

.cta__titulos h3{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 1em;
}

.cta__titulos p{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;  
    color: #FFFFFF;
    margin-bottom: 1em;
}

.cta__titulos a {
    height: 46px;
    width: 143px;
    border-radius: 8px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #5468E7; 
}

/* Página jobs*/

.principal-emprego {
   background-color: #EDE5F081;
   font-family: 'Roboto';
   padding-bottom: 0.2em;
   background-image: url('../Img/Path-jobs.svg');
   background-repeat: no-repeat;
   background-position-x: 11.2em;
}

.secao-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:2em;
    height: 175px;
    border-radius: 24px;
    background-color: #FFFFFF;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
   
}

.emprego__Cards {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.emprego__Cards h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #232340;
}

.secao-conteudo p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#606060;
}

.emprego__cards-notificacao{
    padding-left: 1em;
}

.emprego__cards-seta {
    margin-top: 1em;
    width: 6%;
}

.secao-conteudo-imagem {
    display: flex;
    margin: 1em 0 1em 2em;
    background-color:#232340;
    border-radius: 24px 0 0 24px;
}

.secao-conteudo-imagem .emprego__Cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emprego__Cards-visual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
}

.emprego__Cards-visual h4 {
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
}

.emprego__Cards-visual p {
    color: #8B8B8B;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
}

.emprego__Cards-visual .emprego__cards-seta {
    width: 10%;
}

.emprego__cards-imagem {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2.5em;
}




